<div class="row align-content-center vh-100 m-0">
	<div
		class="
			row
			align-items-center
			justify-content-end
			col-12 col-lg-5
			bg-primary
			h-100
			px-lg-3
			bg-effective
			m-none
		"
	>
		<div class="col-12 col-lg-10 col-xxl-8">
			<h5 class="white mb-3">
				¡Prepárate para tener una conversación <br />
				inteligente con otras personas!
			</h5>
			<h5 class="text-effective">
				Aquí podrás<br />
				poner en práctica tus habilidades para desarrollar una conversación
				efectiva, en dos pasos:
			</h5>
		</div>
	</div>
	<div
		class="
			row
			align-items-center
			justify-content-center
			col-lg-7
			bg-effective-continue
			m-none
			z-index
		"
	>
		<div class="ps-custom mt-5">
			<div class="border-left">
				<div class="ps-5" id="content-cards">
					<div id="rhombus">
						<div class="content">
							<div class="text">1</div>
						</div>
					</div>
					Escribe la situación que deseas abordar.
				</div>
				<div class="ps-5" id="content-cards">
					<div id="rhombus">
						<div class="content bg-primary">
							<div class="text">2</div>
						</div>
					</div>
					Selecciona las cartas que quieres utilizar.
				</div>
				<div class="ps-5 py-3">
					<b>
						<p>Una vez realizados estos pasos, ¡conversa!</p>
						<p class="p-0 m-0">
							Si deseas compartir esta experiencia con <br />
							otras personas, puedes hacerlo de manera <br />
							presencial o virtual.
						</p>
					</b>
				</div>
			</div>
			<div class="row mx-0 mt-5 pb-3 ps-lg-5">
				<button
					class="col-12 col-md-auto btn btn-outline-secondary mb-3 mb-md-0"
					routerLink="/home"
				>
					CAMBIAR DE MODALIDAD
				</button>
				<button
					class="col-12 col-md-auto btn btn-primary ms-md-5"
					routerLink="/practice/situation"
				>
					INICIAR
				</button>
			</div>
		</div>
	</div>
</div>
