<!-- Modal Know Kit -->
<div class="modal fade" id="knowKit" tabindex="-1" aria-labelledby="knowKitLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 bg-secondary bg-puntos p-5">
                            <div class="col-6 text-popups border-custom-popup">
                                <p class="text-popups small">Conocer</p>
                                <p class="">el Kit</p>
                            </div>
                            <div class="col-12 pt-3">
                                <span class="white">Nuestro kit cuenta con cuatro modalidades de cartas:</span>
                                <div class="nav align-content-center flex-column nav-pills me-3 mb-3 mt-2"
                                    id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link p-1 col-9 mb-1" id="v-pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-home" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="false">Emociones</button>
                                    <button class="nav-link p-1 col-9 mb-1" id="v-pills-profile-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile mb-1" aria-selected="false">Preguntas</button>
                                    <button class="nav-link p-1 col-9" id="v-pills-messages-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-messages" type="button" role="tab"
                                        aria-controls="v-pills-messages" aria-selected="false">Distinciones</button>
                                    <button class="nav-link p-1 col-9" id="v-pills-settings-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-settings" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">Recursos</button>
                                </div>
                                <span class="white"><b>Haz clic</b> en cada una de ellas para conocerlas.</span>
                                <p class="white mt-3 mb-0">Con dichas cartas crearemos
                                    combinaciones que se convertirán en
                                    la herramienta clave para tener una
                                    conversación inteligente.</p>
                            </div>
                        </div>
                        <div class="col-md-8 ms-auto bg-brain">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="tab-content tap-content-custom" id="v-pills-tabContent">
                                <div class="tab-pane show fade active" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab"></div>
                                <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                    aria-labelledby="v-pills-settings-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>