<!-- Modal Know Kit -->
<div class="modal fade" id="knowKit" tabindex="-1" aria-labelledby="knowKitLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-5 col-xxl-4 bg-secondary bg-puntos p-5">
                            <div class="col-12 col-lg-8 col-xxl-6 text-popups border-custom-popup">
                                <p class="text-popups small">Conocer</p>
                                <p class="">el Kit</p>
                            </div>
                            <div class="col-12 pt-3">
                                <span class="white">Nuestro kit cuenta con cuatro modalidades de cartas:</span>
                                <div class="nav align-content-center flex-column nav-pills me-3 mb-3 mt-2"
                                    id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="nav-link p-1 col-9 mb-1" id="v-pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-home" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="false">Emociones</button>
                                    <button class="nav-link p-1 col-9 mb-1" id="v-pills-profile-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab"
                                        aria-controls="v-pills-profile mb-1" aria-selected="false">Preguntas</button>
                                    <button class="nav-link p-1 col-9" id="v-pills-messages-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-messages" type="button" role="tab"
                                        aria-controls="v-pills-messages" aria-selected="false">Distinciones</button>
                                    <button class="nav-link p-1 col-9" id="v-pills-settings-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-settings" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">Recursos</button>
                                </div>
                                <span class="white"><b>Haz clic</b> en cada una de ellas para conocerlas.</span>
                                <p class="white mt-3 mb-0">Con dichas cartas crearemos
                                    combinaciones que se convertirán en
                                    la herramienta clave para tener una
                                    conversación inteligente.</p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="tab-content tap-content-custom" id="v-pills-tabContent">
                                <div class="tab-pane show fade active" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab"></div>
                                <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                                    aria-labelledby="v-pills-home-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center mt-3">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                    aria-labelledby="v-pills-profile-tab">
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                    aria-labelledby="v-pills-messages-tab">
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-9 text-center">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                    aria-labelledby="v-pills-settings-tab">
                                    <div class="row justify-content-center">
                                        <div class="col-9 text-center mt-3">
                                            <img src="/assets/img/carta-agobiado.png" alt="">
                                        </div>
                                        <div class="col-9 text-center mt-4">
                                            <b class="my-2">Cartas de emociones</b>
                                        </div>
                                        <div class="col-9 mt-3">
                                            <p>Las emociones responden a los estímulos que surgen de una situación y
                                                pueden impactar positiva o negativamente a una conversación.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <button type="button" id="btnOpen" class="btn btn-primary" (click)="openModal(true)"></button>
<div id=" mdlSample" class="modal fade" role="dialog"
    [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">My Modal</h4>
            </div>
            <div class="modal-body">Text here!</div>
            <div class="modal-footer" align="right">

            </div>
        </div>
    </div>
</div> -->

<!-- Modal Environment -->
<div class="modal fade" id="environments" tabindex="-1" aria-labelledby="environmentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-environments bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>1</p>
                            </div>
                            <div class="col-12 pt-3">
                                <p class="text-popups environmentsSmall">
                                    El
                                </p>
                                <p class="text-popups environments">
                                    entorno
                                </p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-8">
                                    <p>Para empezar, te mostraremos ejemplos
                                        de algunos entornos donde se pueden
                                        presentar situaciones cotidianas, en las
                                        que deberías estar preparado para
                                        abordar una conversación. </p>
                                </div>
                                <div class="col-8 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/environments"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Situations -->
<div class="modal fade" id="situations" tabindex="-1" aria-labelledby="situationLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-situations bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>2</p>
                            </div>
                            <div class="col-12 pt-3">
                                <p class="text-popups environmentsSmall">
                                    La
                                </p>
                                <p class="text-popups environments">
                                    situación
                                </p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-8">
                                    <p>En el entorno que elegiste se pueden
                                        presentar muchas situaciones. Aquí te
                                        mostraremos tres que puedes analizar
                                        y explorar.</p>
                                </div>
                                <div class="col-8 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/situations"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sensations -->
<div class="modal fade" id="sensations" tabindex="-1" aria-labelledby="sensationLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-sensations bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>3</p>
                            </div>
                            <div class="col-12 pt-3">
                                <p class="text-popups environmentsSmall" style="line-height: 55px;">
                                    ¿Cómo te
                                </p>
                                <p class="text-popups environments">
                                    sientes?
                                </p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-8">
                                    <p>A partir de la situación que seleccionaste,
                                        pueden surgir diferentes <b>sensaciones</b>. </p>
                                    <p>A continuación, encontrarás algunas
                                        expresiones donde podrás identificar la
                                        que más representa esa sensación que
                                        aparece ante la situación elegida.</p>
                                </div>
                                <div class="col-8 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/sensations"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Emotions -->
<div class="modal fade" id="emotions" tabindex="-1" aria-labelledby="emotionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-emotions bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>4</p>
                            </div>
                            <div class="col-12 pt-3">
                                <p class="text-popups environmentsSmall" style="line-height: 55px;">
                                    ¿Qué
                                </p>
                                <p class="text-popups environments">
                                    sientes?
                                </p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-8">
                                    <p>Las emociones son las reacciones que
                                        aparecen ante una situación, sin
                                        embargo, cada persona es diferente y
                                        las experimenta de forma particular.</p>
                                    <p>Reconocer mis emociones, saber qué
                                        me comunican y expresarlas, me
                                        permite lograr una conversación
                                        empática e inteligente.</p>
                                </div>
                                <div class="col-8 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/emotions"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Emotions Details -->
<div class="modal fade" id="emotionsDetails" tabindex="-1" aria-labelledby="emotionDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 60vh;">
                    <div class="row align-items-center justify-content-center h-100">
                        <div class="col-10 rounded-custom bg-emotions" style="height: 70%;">
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-5 px-4 text-center">
                                    <h5>EMOCION</h5>
                                    <p class="white"><b>Nombre emocion</b></p>
                                    <p class="white">Estado de desasosiego,
                                        inquietud o temor
                                        producido ante una
                                        situación difícil, un
                                        problema, etc.</p>
                                </div>
                                <div class="col-5 px-4 text-center border-start">
                                    <h5>¿Qué la genera?</h5>
                                    <p class="white">Hay algo signiﬁcativo para ti
                                        que puede estar en riesgo.</p>
                                    <h5>¿Qué me comunica?</h5>
                                    <p class="white">¡Atención! Reconoce que se te
                                        esta revelando.</p>
                                </div>
                            </div>
                            <div class="row py-4 justify-content-center">
                                <div class="col-12 text-center">
                                    <button class="btn btn-outline-secondary" routerLink="/conversation/sensations"
                                        data-bs-dismiss="modal">CAMBIAR
                                        ÍCONO</button>
                                    <button class="btn btn-primary ms-5" data-bs-toggle="modal"
                                        data-bs-target="#questions" data-bs-dismiss="modal">ELEGIR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Questions -->
<div class="modal fade" id="questions" tabindex="-1" aria-labelledby="questionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-8 pt-3 px-0" style="position: absolute;left: 3rem;z-index: 11;">
                            <p class="text-popups environmentsSmall" style="line-height: 40px; font-size: 2rem;">
                                ¿Qué pregunta
                            </p>
                            <p class="text-popups environments" style="font-size: 4rem;">
                                te harías?
                            </p>
                        </div>
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-questions bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>5</p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-8">
                                    <p>¡Muy bien!, ya identificaste la emoción.
                                        Con ella, podemos determinar una
                                        pregunta clave para lograr encaminar
                                        una buena conversación, teniendo en
                                        cuenta el entorno y la situación en la
                                        que se desarrolla.</p>
                                </div>
                                <div class="col-8 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/questions"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Distinctions -->
<div class="modal fade" id="distinctions" tabindex="-1" aria-labelledby="distinctionsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-8 pt-3 px-0" style="position: absolute;left: 3rem;z-index: 11;">
                            <p class="text-popups m-0 environmentsSmall" style="font-size: 2rem;">
                                Distinguiendo <br>
                                nuevas
                            </p>
                            <p class="text-popups environments" style="font-size: 3rem;line-height: 40px;">
                                posibilidades
                            </p>
                        </div>
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-distinctions bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>6</p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-9">
                                    <p><b>Ahora que determinaste la pregunta que
                                            más valor le da a la conversación, es
                                            momento de  seleccionar una distinción,</b>
                                        con ella podemos ver y nombrar nuevas
                                        realidades, redefinir conceptos, etiquetas,
                                        situaciones o conclusiones.
                                    </p>
                                </div>
                                <div class="col-9 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/distinctions"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Resources -->
<div class="modal fade" id="resources" tabindex="-1" aria-labelledby="resourcesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container" style="height: 50vh;">
                    <div class="row align-items-center h-100">
                        <div class="col-8 pt-3 px-0" style="position: absolute;left: 3rem;z-index: 11;">
                            <p class="text-popups m-0 environmentsSmall" style="font-size: 2.5rem">
                                Recursos para
                            </p>
                            <p class="text-popups environments" style="font-size: 5rem;line-height: 60px;">
                                usar
                            </p>
                        </div>
                        <div class="col-lg-5 h-100 center-content col-xxl-4 bg-resources bg-puntos p-5 text-popups">
                            <div class="one-custom">
                                <p>7</p>
                            </div>
                        </div>
                        <div class="col ms-auto bg-brain h-100 cover">
                            <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal"
                                aria-label="Close">
                                <span class="material-icons-outlined white" style="font-weight: bold;">
                                    close
                                </span>
                            </button>
                            <div class="row h-100 justify-content-center align-content-center">
                                <div class="col-9">
                                    <p>Después de determinar la distinción, el
                                        último paso para lograr una conversación
                                        efectiva es identificar un recurso, el cual
                                        te permitirá utilizar herramientas
                                        prácticas para tomar decisiones y actuar.
                                    </p>
                                </div>
                                <div class="col-9 mt-4">
                                    <button class="btn btn-primary" routerLink="/conversation/resources"
                                        data-bs-dismiss="modal" aria-label="Close">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>