<div
	class="modal fade"
	id="questions-combinations"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	[class.bg-dark-modal]="practice"
>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content" [class.bg-transparent]="practice">
			<div
				class="modal-body row justify-content-center"
				[class.bg-white-practice]="practice"
			>
				<button
					type="button"
					class="btn-close btn-close-custom"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<span class="material-icons-outlined white" style="font-weight: bold">
						close
					</span>
				</button>
				<div class="text-center mt-lg-4 mb-2 mb-lg-3">
					<img src="/assets/img/brain-blue.png" alt="" class="img-fluid" />
				</div>
				<div
					class="
						row
						align-content-center
						col-11 col-lg-10
						bg-questions
						rounded-custom
						mb-3
						py-5
					"
					[ngClass]="!practice ? 'px-lg-5' : 'px-lg-4'"
				>
					<div class="text-center content-text">
						<span class="title-question border-bottom-question">
							{{ question.name }}
						</span>
						<p class="white">
							<span class="decored">------</span>
							<span class="white for">Sirve para</span>
							<span class="decored">------</span>
						</p>
						<p class="white text">{{ question.description }}</p>
					</div>
				</div>
			</div>
			<div *ngIf="practice" class="row justify-content-around pt-4">
				<div class="col-auto">
					<button
						type="button"
						class="btn btn-outline-secondary px-4 px-lg-3"
						data-bs-dismiss="modal"
					>
						CAMBIAR CARTA
					</button>
				</div>
				<div class="col-auto">
					<button
						class="btn btn-primary px-4 px-lg-3"
						data-bs-dismiss="modal"
						(click)="continue()"
					>
						CONTINUAR
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
