.h-advance {
	height: 30vh;
	min-height: 320px;
}

#section-cards h5 {
	font-style: italic;
	font-weight: 400;
}

#section-cards .cursor-pointer:hover {
	filter: brightness(0.7);
}

.col-custom {
	width: 20%;
	max-height: 100%;
	text-align: center;
}

.img-fluid-custom {
	max-width: 100%;
	max-height: calc(230px - 0.5rem);
	min-height: calc(230px - 0.5rem);
}

.pos-relative {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.text-cards {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 5px);
	transform: translate(-50%, -50%);
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.center {
	top: 31%;
}

.emotion,
.question,
.distinction,
.resource {
	font-weight: 500;
}

.distinction,
.resource {
	line-height: 16.5px;
}

.emotion {
	color: #a25260;
}

.question {
	color: #4a80b3;
	line-height: 14px;
}

.large-question {
	font-size: 12.5px;
}

.distinction {
	color: #60b3a2;
}

.resource {
	color: #733160;
}

.max {
	top: 27%;
	line-height: 14.5px;
}

.overflow-x {
	overflow-x: auto;
}

.h-advance-two {
	height: 30vh;
}

.img-fluid {
	max-height: 222px;
}

.h-cards {
	min-height: 254px;
	min-width: 191px;
	text-align: center;
}

@media (max-width: 1399px) {
	.col-custom {
		width: 60%;
	}

	.h-advance {
		height: auto;
		min-height: auto;
		padding-bottom: 2.5rem;
	}

	.row-custom {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	#info {
		position: absolute;
		bottom: calc(0% + 0.5rem);
	}
}
