.h-advance {
	height: 30vh;
	min-height: 320px;
}

.col-custom {
	width: 20%;
	max-height: 100%;
	text-align: center;
}

.img-fluid-custom {
	max-width: 100%;
	max-height: calc(230px - 0.5rem);
	min-height: calc(230px - 0.5rem);
}

.pos-relative {
	position: relative;
}

.text-situation {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	max-width: 143px;
	transform: translate(-50%, -50%);
}

.overflow-x {
	overflow-x: auto;
}

.h-advance-two {
	height: 30vh;
}

@media (max-width: 991px) {
	.col-custom {
		width: 60%;
	}

	.h-advance {
		height: auto;
		min-height: auto;
		padding-bottom: 2.5rem;
	}

	.row-custom {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	#info {
		position: absolute;
		bottom: calc(0% + 0.5rem);
	}
}
