<div
	class="modal fade"
	id="resource-combinations"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body row justify-content-center">
				<button
					type="button"
					class="btn-close btn-close-custom"
					data-bs-dismiss="modal"
					aria-label="Close"
				>
					<span class="material-icons-outlined white" style="font-weight: bold">
						close
					</span>
				</button>
				<div class="text-center mt-lg-4 mb-2 mb-lg-3">
					<img src="/assets/img/brain-purple.png" alt="" class="img-fluid" />
				</div>
				<div
					class="
						row
						align-content-center
						col-11 col-lg-10
						bg-resources
						rounded-custom
						mb-3
						py-5
						px-lg-5
					"
				>
					<div class="text-center">
						<span class="title-resource border-bottom-resource">
							{{ resource.name }}
						</span>
						<p class="white mt-3 text">{{ resource.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
