.bg-resources {
	background-image: url('/assets/img/purple-top.png'),
		url('/assets/img/purple-bottom.png');
	background-repeat: no-repeat;
	background-position-x: calc(0% - 10px), calc(100% + 10px);
	background-position-y: calc(0% - 10px), bottom;
	background-color: #c3a4ce;
	height: auto;
	min-height: 30rem;
}

.rounded-custom {
	border-radius: 1.5rem;
}

.title-resource {
	font-size: calc(1.3rem + 0.5vw);
	color: #733160;
}

.text {
	font-size: 1.2rem;
}

.btn-close-custom {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	background-color: #6caaff !important;
	border-radius: 50%;
	opacity: 100;
	background: none;
	height: 1.5rem;
	width: 1.5rem;
}
