#content-cards {
	position: relative;
	display: inline-block;
	text-align: center;
}

.btn {
	padding-left: 3rem;
	padding-right: 3rem;
}

.text-cards {
	position: absolute;
	top: calc(31% + 25px);
	left: calc(50%);
	width: calc(100% - 10px);
	font-size: 1rem;
	font-weight: 400;
	color: white;
	transform: translate(-50%, -50%);
}

.emotion,
.question,
.distinction,
.resource {
	font-weight: 500;
}

.distinction,
.resource {
	line-height: 16.5px;
}

.emotion {
	color: #a25260;
	font-size: 1.2rem;
}

.question {
	color: #4a80b3;
	line-height: 14px;
}

.large-question {
	font-size: 14px;
}

.distinction {
	color: #60b3a2;
}

.resource {
	color: #733160;
}

.max {
	top: calc(28% + 26px);
	line-height: 14.5px;
}

.col-1-custom {
	flex: 0 0 auto;
	width: 14.285%;
}

.select-env {
	color: #6facfc;
}

.border-radius-custom {
	border-radius: 10rem;
}

.img-fluid-custom {
	max-width: 70%;
}

.bg-gray {
	background-color: #f3f3f3;
}

.bg-gray-ligth {
	background-color: #f9f9f9;
}

.row-custom {
	height: 30%;
}

.img-fluid {
	max-height: 237px;
}

.pos-relative {
	position: relative;
}

.pos-relative:after {
	content: '';
	background: #52709a;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 80px);
	height: 3px;
	width: 100%;
	max-width: 160px;
}

@media (max-width: 1199px) {
	.row-custom {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		align-items: center;
		overflow: auto;
		height: auto;
	}
}

@media only screen and (max-width: 991px) {
	.h-custom {
		height: initial !important;
	}

	.btn-block {
		width: 100%;
	}
}
