<!-- Modal Sensations -->
<div
	class="modal fade"
	id="sensations"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="sensationLabel"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
	>
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="container h-modals-content">
					<div class="row align-items-center h-100">
						<div
							class="
								col-lg-5
								h-100-modals
								center-content
								col-xxl-4
								bg-sensations bg-puntos
								p-5 p-xxl-3
								text-popups
							"
						>
							<div class="one-custom">
								<p>3</p>
							</div>
							<div class="col-12 pt-3">
								<p
									class="text-popups environmentsSmall"
									style="line-height: 55px"
								>
									¿Cómo te
								</p>
								<p class="text-popups environments">sientes?</p>
							</div>
						</div>
						<div class="col ms-auto bg-brain h-100-modals-brain cover">
							<button
								type="button"
								class="btn-close btn-close-custom"
								data-bs-dismiss="modal"
								aria-label="Close"
							>
								<span
									class="material-icons-outlined white"
									style="font-weight: bold"
								>
									close
								</span>
							</button>
							<div
								class="
									row
									h-100-modals
									justify-content-center
									align-content-center
								"
							>
								<div class="col-8 ps-xxl-5">
									<p>
										A partir de la situación que seleccionaste, pueden surgir
										diferentes <b>sensaciones</b>. 
									</p>
									<p>
										A continuación, encontrarás algunas expresiones donde podrás
										identificar la que más representa esa sensación que aparece
										ante la situación elegida.
									</p>
								</div>
								<div class="col-8 mt-4 ps-xxl-5">
									<button
										class="btn btn-primary"
										routerLink="/conversation/sensations"
										data-bs-dismiss="modal"
										aria-label="Close"
									>
										Continuar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
