<div class="blur container pt-3 pt-lg-5 h-100" id="content">
	<div class="row mx-0 justify-content-center">
		<h5 class="text-center mb-lg-5 pos-relative">
			<b>Arrastra</b> al cuadro gris la carta que deseas usar.
		</h5>
		<form class="p-0 row justify-content-around">
			<div
				class="
					col-12 col-lg-9
					border-custom
					rounded
					h-bank
					shadow
					order-2 order-lg-1
				"
			>
				<div
					class="row mb-3 mt-lg-4 pt-4 justify-content-center"
					cdkDropList
					#listCards="cdkDropList"
					[cdkDropListConnectedTo]="cardSelected"
				>
					<div
						class="col-1-custom cards"
						*ngFor="let distinction of distinctions"
					>
						<input
							type="radio"
							value="{{ distinction.id }}-{{ distinction.id }}"
							id="distinction-{{ distinction.id }}"
							class="distinctionInput"
						/>
						<label
							[class.opacity-0]="!distinction.id"
							for="distinction-{{ distinction.id }}"
							id="label"
							class="col cards ps-lg-0 pt-lg-0 text-center"
							cdkDrag
						>
							<div class="example-handle" cdkDragHandle>
								<span class="text-help d-lg-none">Arrastra desde aquí</span>
								<svg
									width="24px"
									fill="currentColor"
									viewBox="0 0 24 24"
									class="d-lg-none"
								>
									<path
										d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
									></path>
									<path d="M0 0h24v24H0z" fill="none"></path>
								</svg>
							</div>
							<img
								src="/assets/img/card-distinction.png"
								class="img-fluid"
								alt=""
							/>
							<div class="text-cards distinction">{{ distinction.name }}</div>
						</label>
						<ng-template #elseBlock>
							<div cdkDrag>
								<img
									src="/assets/img/card-distinction.png"
									class="img-fluid"
									style="opacity: 0"
								/>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-2 border-top border-bottom order-1 order-lg-2">
				<div id="container-card" class="py-3 my-lg-0">
					<div
						class="container-card"
						cdkDropList
						#cardSelected="cdkDropList"
						(cdkDropListDropped)="drop($event)"
					>
						<div
							*ngIf="distinctionSelected.id"
							class="col-12 cards ps-lg-0 text-center"
							id="div-card"
							data-bs-toggle="modal"
							data-bs-target="#distinction-combinations"
							(click)="sendCardEmitter(distinctionSelected)"
						>
							<input
								type="radio"
								value="{{ distinctionSelected.id }}-{{
									distinctionSelected.id
								}}"
								id="distinction-{{ distinctionSelected.id }}"
								class="distinctionInput"
							/>
							<label
								for="distinction-{{ distinctionSelected.id }}"
								id="label-card"
								class="w-100 cursor-pointer"
							>
								<img
									src="/assets/img/card-distinction.png"
									class="img-fluid"
									alt=""
								/>
								<div class="text-cards distinction">
									{{ distinctionSelected.name }}
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3 mt-lg-5 text-center px-0 order-3">
				<button
					class="btn btn-primary px-4 px-lg-3"
					routerLink="/practice/card-combination"
				>
					CAMBIAR GRUPO DE CARTAS
				</button>
			</div>
		</form>
	</div>
</div>

<app-distinction-modal-effective></app-distinction-modal-effective>
