<div class="container h-complete">
	<div class="row align-content-center h-complete">
		<div id="content">
			<div id="rhombus">
				<div class="content">
					<div class="text">2</div>
				</div>
			</div>
			<p class="col-11 col-lg-5 m-lg-0 text-center mt-text">
				Ahora que definiste la situación que vas a abordar, selecciona el grupo
				de cartas que quieres usar para ir armando la combinación.
			</p>
		</div>
		<form
			[formGroup]="form"
			(ngSubmit)="continue($event)"
			class="row mx-0 align-content-center mt-3 mt-lg-0"
		>
			<div class="col-6 col-lg-3 text-center mb-3 mb-lg-0">
				<input
					type="radio"
					formControlName="cards"
					value="emotion"
					id="emotion"
				/>
				<label for="emotion" id="label">
					<img
						src="/assets/img/card-emotion.png"
						alt=""
						class="img-fluid-custom"
					/>
				</label>
			</div>
			<div class="col-6 col-lg-3 text-center mb-3 mb-lg-0">
				<input
					type="radio"
					formControlName="cards"
					value="question"
					id="question"
				/>
				<label for="question" id="label">
					<img
						src="/assets/img/card-question.png"
						alt=""
						class="img-fluid-custom"
					/>
				</label>
			</div>
			<div class="col-6 col-lg-3 text-center">
				<input
					type="radio"
					formControlName="cards"
					value="distinction"
					id="distinction"
				/>
				<label for="distinction" id="label">
					<img
						src="/assets/img/card-distinction.png"
						alt=""
						class="img-fluid-custom"
					/>
				</label>
			</div>
			<div class="col-6 col-lg-3 text-center">
				<input
					type="radio"
					formControlName="cards"
					value="resource"
					id="resource"
				/>
				<label for="resource" id="label">
					<img
						src="/assets/img/card-resource.png"
						alt=""
						class="img-fluid-custom"
					/>
				</label>
			</div>
			<div
				class="
					row
					mx-0
					justify-content-around justify-content-lg-center
					text-center
					my-5
					mt-lg-5
					mb-lg-0
				"
			>
				<button
					type="button"
					class="col-auto btn btn-primary"
					routerLink="/practice/situation"
				>
					CAMBIAR SITUACION
				</button>
				<button
					type="submit"
					class="col-5 col-lg-auto btn btn-outline-secondary ms-lg-5"
					[disabled]="form.invalid"
				>
					CONTINUAR
				</button>
			</div>
		</form>
		<app-advance-practice></app-advance-practice>
	</div>
</div>
