<div class="container-fluid h-container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 px-0 bg-home-1">
      <p class="text-home px-5">
        ¡La experiencia <br />
        <span class="border-text">inicia aquí!</span>
      </p>
    </div>
    <div class="d-none d-lg-block col-lg-4 px-0 bg-home-2">
      <p class="px-5 text-center white">
        Esta es una herramienta de combinaciones de cartas con estrategias para
        practicar, consultar y desarrollar conversaciones inteligentes, a través
        de los siguientes modos de uso:
      </p>
    </div>
    <div class="col-12 col-lg-4 px-0 bg-home-3">
      <p class="d-lg-none px-5 text-center white drop-shadow">
        Esta es una herramienta de combinaciones de cartas con estrategias para
        practicar, consultar y desarrollar conversaciones inteligentes, a través
        de los siguientes modos de uso:
      </p>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <div class="row h-content align-items-center">
      <a
        class="col-4 h-100 px-6 text-center home-items"
        routerLink="/conversation"
      >
        <img src="/assets/img/icon-123.png" alt="" class="img-fluid mb-3" />
        <p>Adquiere experiencia a través de un ambiente simulado.</p>
      </a>
      <a
        class="col-4 h-100 px-6 text-center home-items"
        routerLink="/effective-combinations"
      >
        <img
          src="/assets/img/icon-combinacion.png"
          alt=""
          class="img-fluid mb-3"
        />
        <p>Consulta rápida de estrategias a partir de emociones.</p>
      </a>
      <a class="col-4 h-100 px-6 text-center home-items" routerLink="/practice">
        <img
          src="/assets/img/icon-ponloenpractica.png"
          alt=""
          class="img-fluid mb-3"
        />
        <p>Utiliza tus cartas libremente para conversar con otros.</p>
      </a>
    </div>
  </div>
  <div class="row py-5 d-lg-none">
    <swiper
    [config]="config"
      class="mySwiper"
    >
      <ng-template swiperSlide>
        <div class="row h-100 justify-content-center align-content-center">
          <a
            class="
              col-9
              h-100
              rounded
              border
              shadow
              py-4
              px-4
              carousel-custom-items
            "
            routerLink="/conversation"
          >
            <img src="/assets/img/icon-123.png" class="img-fluid" />
            <p class="pt-3 text-center">
              Adquiere experiencia a través de un ambiente simulado.
            </p>
          </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="row justify-content-center align-content-center">
          <a
            class="
              col-9
              h-100
              rounded
              border
              shadow
              py-4
              px-4
              carousel-custom-items
            "
            routerLink="/effective-combinations"
          >
            <img src="/assets/img/icon-combinacion.png" class="img-fluid" />
            <p class="pt-3 text-center">
              Consulta rapida de estrategias a partir de emociones.
            </p>
          </a>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="row justify-content-center">
          <a
            class="
              col-9
              h-100
              rounded
              border
              shadow
              py-4
              px-4
              carousel-custom-items
            "
            routerLink="/practice"
          >
            <img src="/assets/img/icon-ponloenpractica.png" class="img-fluid" />
            <p class="pt-3 text-center">
              Utiliza tus cartas libremente para conversar con otros.
            </p>
          </a>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
