<div class="row align-content-center vh-100 m-0">
	<div
		class="
			row
			align-items-center
			justify-content-end
			col-12 col-lg-5
			bg-primary
			h-100
			px-lg-3
			bg-effective
			m-none
		"
	>
		<div class="col-12 col-lg-10 col-xxl-8">
			<h5 class="white mb-3">¡AYÚDAME!</h5>
			<h5 class="text-effective">
				Aquí encontrarás recomendaciones para abordar correctamente una
				conversación inteligente a partir de una emoción, en dos pasos:
			</h5>
		</div>
	</div>
	<div
		class="
			row
			align-items-center
			justify-content-center
			col-lg-7
			bg-effective-continue
			m-none
			z-index
		"
	>
		<div class="ps-custom mt-5">
			<div class="border-left">
				<div class="ps-5 py-5 mb-5" id="content-cards">
					<div id="rhombus">
						<div class="content">
							<div class="text">1</div>
						</div>
					</div>
					Selecciona una carta de un banco de emocion
				</div>
				<div
					class="col-auto pb-4 col-lg-8 col-xl-5 ps-5 align-items-start"
					id="content-cards"
				>
					<div id="rhombus" class="second-rhombus">
						<div class="content bg-primary">
							<div class="text">2</div>
						</div>
					</div>
					<p class="m-0 p-0">
						Según la emoción seleccionada, te brindaremos una combinación de:
						<b>pregunta, distinción</b> y <b>recurso</b>. Si consideras que este
						set no se ajusta a la emoción elegida, podrás seleccionar una 
						segunda opción.
					</p>
				</div>
			</div>
			<div class="mt-5 pb-3 ps-lg-5">
				<button class="btn btn-outline-secondary px-lg-3" routerLink="/home">
					CAMBIAR DE MODALIDAD
				</button>
				<button
					class="btn btn-primary ms-2 ms-lg-3 px-lg-5"
					routerLink="/effective-combinations/emotions-bank"
				>
					INICIAR
				</button>
			</div>
		</div>
	</div>
</div>
