.bg-puntos {
	background-image: url('/assets/img/puntos.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}

.text-popups {
	font-family: 'Pistilli';
	font-size: 3rem;
	color: black;
	line-height: 2rem;
}

.text-popups .environments {
	font-size: 2.9rem;
	line-height: .2rem;
}

.text-popups .environmentsSmall {
	font-size: 2rem;
}

.cover {
	background-size: cover;
}

.one-custom {
	position: absolute;
	top: 2rem;
	width: 100px;
	left: 2rem;
	color: #fff1cb;
	font-size: 4rem;
}

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	z-index: 10;
}

.text-popups .small {
	font-size: 2rem;
}

.border-custom-popup {
	border-bottom: 4px solid #fff1cb;
}

.ul-custom {
	list-style: none;
	font-weight: 500;
	text-decoration: underline;
}

.bg-brain {
	background-image: url('/assets/img/silueta.png');
	background-position-x: right;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.tap-content-custom {
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.nav-pills .nav-link {
	color: #fff;
	background-color: transparent;
	text-align: start;
	font-weight: 700;
	text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #101320;
	background-color: transparent;
	text-align: start;
}

.modal-content {
	border-radius: 1.5rem;
}

.btn-close-custom {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	background-color: #6caaff !important;
	border-radius: 50%;
	opacity: 100;
	background: none;
	height: 1.5rem;
	width: 1.5rem;
}

.bg-environments {
	background-color: #c37688;
}

.bg-situations {
	background-color: #5cb1bc;
}

.bg-sensations {
	background-color: #ea8200;
}

.bg-emotions {
	background-color: #d78056;
}

.bg-questions {
	background-color: #357ec0;
}

.bg-distinctions {
	background-color: #60b3a2;
}

.bg-resources {
	background-color: #c3a4ce;
}

.rounded-custom {
	border-radius: 1.5rem;
}

.h-100-modals {
	height: 100%;
}

.h-modals-content {
	height: 50vh;
}

.h-100-modals-brain {
    height: 100%;
}

@media only screen and (max-width: 991px) {
	.h-100-modals {
		height: auto;
	}

    .h-100-modals-brain {
		height: 28.1rem;
        display: flex;
	}

    .h-modals-content {
        height: 82.1vh;
    }

    .one-custom {
        left: 1rem;
    }

    .btn-close-custom{
        z-index: 10;
    }
    .environmentsSmall{
        font-size: 2rem!important;
    }
    .environments{
        font-size: 2.5rem!important;
    }
}
