<!-- Modal Distinctions -->
<div
	class="modal fade"
	id="distinctions"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="distinctionsLabel"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
	>
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="container h-modals-content">
					<div class="row align-items-center h-100">
						<div
							class="
								col-lg-5
								h-100-modals
								center-content
								col-xxl-4
								bg bg-puntos
								p-5
								px-xxl-2
								h-popup-header
								text-popups
							"
						>
							<div class="one-custom">
								<p>6</p>
							</div>
							<div class="col-12 pt-3 pos-relative">
								<p class="text-popups environmentsSmall">
									Distinguiendo<br />
									nuevas
								</p>
								<p class="text-popups text-xxl-end environments">
									posibilidades
								</p>
							</div>
						</div>
						<div class="col ms-auto bg-brain h-100-modals-brain coverr">
							<button
								type="button"
								class="btn-close btn-close-custom"
								data-bs-dismiss="modal"
								aria-label="Close"
							>
								<span
									class="material-icons-outlined white"
									style="font-weight: bold"
								>
									close
								</span>
							</button>
							<div
								class="
									row
									h-100-modals
									justify-content-center
									align-content-center
								"
							>
								<div class="col-10 col-lg-9 ps-xxl-5">
									<p>
										<b
											>Ahora que determinaste la pregunta que más valor le da a
											la conversación, es momento de seleccionar una
											distinción,</b
										>
										con ella podemos ver y nombrar nuevas realidades, redefinir
										conceptos, etiquetas, situaciones o conclusiones.
									</p>
								</div>
								<div class="col-10 col-lg-9 mt-4 ps-xxl-5">
									<button
										class="btn btn-primary"
										routerLink="/conversation/distinctions"
										data-bs-dismiss="modal"
										aria-label="Close"
									>
										Continuar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
