<div class="row h-100 align-items-center">
	<div class="col-3 text-center p-relative">
		<p class="fw-bold fst-italic">EMOCIÓN SELECCIONADA</p>
		<img src="/assets/img/card-emotion.png" class="img-fluid shadow" alt="" />
		<div class="text-cards-tree-emotions">
			{{ emotion.name }}
		</div>
	</div>
	<div class="col-1 text-center">
		<p class="fs-1">+</p>
	</div>
	<div class="row col-8 text-center ms-0 ps-0">
		<div class="col-4 p-relative">
			<p class="fw-bold fst-italic">PREGUNTA</p>
			<img
				src="/assets/img/card-question.png"
				class="img-fluid shadow"
				alt=""
			/>
			<div class="text-cards-tree-questions">
				{{ question.name }}
			</div>
		</div>
		<div class="col-4 p-relative">
			<p class="fw-bold fst-italic">DISTINCION</p>
			<img
				src="/assets/img/card-distinction.png"
				class="img-fluid shadow"
				alt=""
			/>
			<div class="text-cards-tree-distinctions">
				{{ distinction.name }}
			</div>
		</div>
		<div class="col-4 p-relative">
			<p class="fw-bold fst-italic">RECURSO</p>
			<img
				src="/assets/img/card-resource.png"
				class="img-fluid shadow"
				alt=""
			/>
			<div class="text-cards-tree-resources">
				{{ resource.name }}
			</div>
		</div>
	</div>
</div>
