<div class="container-fluid bg-primary">
    <div class="row justify-content-center align-items-center bg-login">
        <div class="col-6 col-xxl-4 text-end h-login position-img-login">
            <img src="/assets/img/login.png" alt="" class="img-login">
        </div>
        <div class="col-3 col-xxl-2 px-3 ms-5 px-xxl-4">
            <h5 class="text-login text-center">Iniciar sesión</h5>
            <form>
                <div class="mt-5 mb-3">
                    <label for="user" class="form-label d-none">Usuario</label>
                    <input type="email" class="form-control" id="user" placeholder="Usuario">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label d-none">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberUser">
                    <label class="form-check-label" for="rememberUser">Recordar Usuario</label>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">ENTRAR</button>
                    <span class="forgot mt-2">¿Olvidó su usuario o contraseña?</span>
                </div>
            </form>
        </div>
    </div>
</div>