/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';

@font-face {
	font-family: Pistilli;
	src: local('Pistilli'), url('/assets/fonts/Pistilli-Roman.otf');
	font-weight: bold;
}

button{
    text-transform: uppercase!important;
}

.btn{
	text-transform: uppercase!important;
}

.currentLink {
	color: #6caaff !important;
}

html,
body {
	height: calc(100vh - 103.6px);
	/* font-size: 1.125rem; */
}

.h-complete {
	height: 100%;
}

.btn-primary {
	background-color: #6caaff !important;
	color: #fff !important;
}

.bg-primary {
	background-color: #101320 !important;
}

.bg-secondary {
	background-color: #6caaff !important;
}

.align-content-space-evenly {
	align-content: space-evenly;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

.cursor-pointer {
	cursor: pointer;
}

.white {
	color: white !important;
}

.navbar-spacing-left .navbar-nav .nav-link {
	padding-left: 2.5rem;
}

.navbar-spacing-right .navbar-nav .nav-link {
	padding-right: 2.5rem;
}

.modal-open .blur {
	filter: blur(5px);
}

.c-modal{
	min-height: 420px;
}

.h-custom-details{
	height: 100%;
}

@media (max-width: 1200px) {
	.navbar-spacing-right .navbar-nav .nav-link {
		padding-right: 0.7rem;
	}

	.navbar-spacing-left .navbar-nav .nav-link {
		padding-left: 0.7rem;
	}
}

@media (max-width: 991px) {
	html,
	body {
		height: calc(100vh - 60.6px);
		/* font-size: 1.125rem; */
	}
}

@media (max-width: 1399px) {
	.h-content-description-details{
		height: calc(100% - 5rem);
	}

	.h-custom-details{
		height: initial!important;
	}
}

