/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';

@font-face {
	font-family: Pistilli;
	src: local('Pistilli'), url('/assets/fonts/Pistilli-Roman.otf');
	font-weight: bold;
}

.bg-primary {
	background-color: #101320 !important;
}

.bg-secondary {
	background-color: #6caaff !important;
}

.white {
	color: white !important;
}

.cursor-pointer{
	cursor: pointer;
}

.navbar-spacing-left .navbar-nav .nav-link {
	padding-left: 2.5rem;
}

.navbar-spacing-right .navbar-nav .nav-link {
	padding-right: 2.5rem;
}

@media (max-width: 992px) {
	.navbar-spacing-right .navbar-nav .nav-link {
		padding-right: 0.3rem;
	}

	.navbar-spacing-left .navbar-nav .nav-link {
		padding-left: 0.3rem;
	}
}

