<!-- Modal Emotions -->
<div
	class="modal fade"
	id="emotions"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="emotionLabel"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
	>
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="container h-modals-content">
					<div class="row align-items-center h-100">
						<div
							class="
								col-lg-5
								h-100-modals
								center-content
								col-xxl-4
								bg bg-puntos
								p-5
								text-popups
								h-popup-header
							"
						>
							<div class="one-custom">
								<p>4</p>
							</div>
							<div class="col-12 pt-3 pos-relative">
								<p
									class="text-popups environmentsSmall"
									style="line-height: 55px"
								>
									¿Qué
								</p>
								<p class="text-popups environments">sientes?</p>
							</div>
						</div>
						<div class="col ms-auto bg-brain h-100-modals-brain cover">
							<button
								type="button"
								class="btn-close btn-close-custom"
								data-bs-dismiss="modal"
								aria-label="Close"
							>
								<span
									class="material-icons-outlined white"
									style="font-weight: bold"
								>
									close
								</span>
							</button>
							<div
								class="
									row
									h-100-modals
									justify-content-center
									align-content-center
								"
							>
								<div class="col-10 col-lg-8 ps-xxl-5">
									<p>
										Las emociones son las reacciones que aparecen ante una
										situación, sin embargo, cada persona es diferente y las
										experimenta de forma particular.
									</p>
									<p>
										Reconocer mis emociones, saber qué me comunican y
										expresarlas, me permite lograr una conversación empática e
										inteligente.
									</p>
								</div>
								<div class="col-8 mt-lg-4 ps-xxl-5">
									<button
										class="btn btn-primary"
										routerLink="/conversation/emotions"
										data-bs-dismiss="modal"
										aria-label="Close"
									>
										Continuar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
