.bg-puntos {
	background-image: url('/assets/img/puntos.png'),
		url('/assets/img/figure-yellow.png');
	background-position-x: left, right;
	background-position-y: bottom, 20%;
	background-repeat: no-repeat;
	background-size: 100%, 35px 11px;
}

.text-popups {
	font-family: 'Pistilli';
	font-size: 3rem;
	color: black;
	line-height: 1.8rem;
}

.text-popups .environments {
	font-size: 4.5rem;
	line-height: 1.8rem;
}

.environments:after {
	content: '';
	background: #fff0cb;
	position: absolute;
	bottom: -20px;
	left: 0;
	height: 5px;
	width: 100%;
	max-width: 160px;
}

.text-popups .environmentsSmall {
	font-size: 2.5rem;
}

.cover {
	background-size: cover;
}

.one-custom {
	position: absolute;
	top: 2rem;
	width: 100px;
	left: 2rem;
	color: #fff1cb;
	font-size: 4rem;
}

.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	z-index: 10;
}

.text-popups .small {
	font-size: 2rem;
}

.border-custom-popup {
	border-bottom: 4px solid #fff1cb;
}

.ul-custom {
	list-style: none;
	font-weight: 500;
	text-decoration: underline;
}

.bg-brain {
	background-image: url('/assets/img/silueta-light.png'),
		url('/assets/img/figure-yellow.png');
	background-position-x: right, left;
	background-position-y: center, 20%;
	background-repeat: no-repeat;
	background-size: contain, 35px 11px;
}

.tap-content-custom {
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.nav-pills .nav-link {
	color: #fff;
	background-color: transparent;
	text-align: start;
	font-weight: 700;
	text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #101320;
	background-color: transparent;
	text-align: start;
}

.modal-content {
	border-radius: 1.5rem;
}

.btn-close-custom {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	background-color: #6caaff !important;
	border-radius: 50%;
	opacity: 100;
	background: none;
	height: 1.5rem;
	width: 1.5rem;
}

.bg {
	background-color: #6caaff;
}

.rounded-custom {
	border-radius: 1.5rem;
}

.h-100-modals {
	height: 100%;
}

.h-modals-content {
	height: 50vh;
}

.h-100-modals-brain {
	height: 100%;
}

.pos-relative {
	position: relative;
}

@media only screen and (max-width: 991px) {
	.h-100-modals {
		height: auto;
	}

	.h-100-modals-brain {
		height: 50vh;
		display: flex;
	}

	.h-modals-content {
		height: 80vh;
	}

	.h-popup-header {
		height: 30vh;
	}

	.one-custom {
		left: 1rem;
	}

	.btn-close-custom {
		z-index: 10;
	}
	.environmentsSmall {
		font-size: 2.5rem !important;
	}
	.environments {
		font-size: 3.5rem !important;
	}
	.bg-brain {
		background-position-x: right, center;
		background-position-y: center, top;
	}

	.bg-puntos {
		background-position-x: left, center;
		background-position-y: bottom, bottom;
	}

	.environments:after {
		bottom: -10px;
	}
}
