<div class="blur container pt-3 pt-lg-5 h-100" id="content">
	<div class="row mx-0 justify-content-center">
		<p class="text-center mb-lg-5">
			<b>Arrastra</b> al lugar indicado la carta que deseas usar.
		</p>
		<form class="p-0 row justify-content-around">
			<div
				class="
					col-12 col-lg-9
					border-custom
					rounded
					h-bank
					shadow
					order-2 order-lg-1
				"
			>
				<div
					class="row mb-3 mt-lg-4 pt-4"
					cdkDropList
					#listCards="cdkDropList"
					[cdkDropListConnectedTo]="cardSelected"
				>
					<div class="col-1-custom cards" *ngFor="let emotion of emotions">
						<input
							type="radio"
							value="{{ emotion.id }}-{{ emotion.id }}"
							id="emotion-{{ emotion.id }}"
							class="emotionInput"
						/>
						<label
							[class.opacity-0]="!emotion.id"
							for="emotion-{{ emotion.id }}"
							id="label"
							class="col cards ps-lg-0 pt-lg-0 text-center"
							cdkDrag
						>
							<div class="example-handle" cdkDragHandle>
								<span class="text-help d-lg-none">Arrastra desde aquí</span>
								<svg
									width="24px"
									fill="currentColor"
									viewBox="0 0 24 24"
									class="d-lg-none"
								>
									<path
										d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
									></path>
									<path d="M0 0h24v24H0z" fill="none"></path>
								</svg>
							</div>
							<img
								src="/assets/img/card-emotion.png"
								class="img-fluid"
								alt=""
							/>
							<div class="text-cards">{{ emotion.name }}</div>
						</label>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-2 border-top border-bottom order-1 order-lg-2">
				<div id="container-card" class="py-3 my-lg-0">
					<div
						class="container-card"
						cdkDropList
						#cardSelected="cdkDropList"
						(cdkDropListDropped)="drop($event)"
					>
						<div
							*ngIf="emotionSelected.id"
							class="col-12 cards ps-lg-0 text-center"
							id="div-card"
							data-bs-toggle="modal"
							data-bs-target="#emotion-combinations"
							(click)="sendCardEmitter(emotionSelected)"
						>
							<input
								type="radio"
								value="{{ emotionSelected.id }}-{{ emotionSelected.id }}"
								id="emotion-{{ emotionSelected.id }}"
								class="emotionInput"
							/>
							<label
								for="emotion-{{ emotionSelected.id }}"
								id="label-card"
								class="w-100 cursor-pointer"
							>
								<img
									src="/assets/img/card-emotion.png"
									class="img-fluid"
									alt=""
								/>
								<div class="text-cards">{{ emotionSelected.name }}</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 mt-3 mt-lg-5 text-center px-0 order-3 pb-3 pb-md-0">
				<button
					class="btn btn-primary px-4 px-lg-3"
					routerLink="/practice/card-combination"
				>
					CAMBIAR GRUPO DE CARTAS
				</button>
			</div>
		</form>
	</div>
</div>

<app-emotion-modal-effective></app-emotion-modal-effective>
